/**
 * Basic Navbar styling
 *
 * @format
 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}
